# Telegram Bot Token (BotFather dan oling)
BOT_TOKEN=8032090749:AAHQhjJSPVPZem37sNhKWxxb7o3eTwHy2ak

# Manager Telegram ID lari (vergul bilan ajratilgan)
MANAGER_IDS=123456789,987654321

# Database Configuration
# Docker ishlashi uchun DB_HOST=postgres bo'lishi kerak
# Local ishlash uchun DB_HOST=localhost
DB_HOST=postgres
DB_PORT=5432
DB_NAME=cargo_db
DB_USER=cargo_user
DB_PASSWORD=change_me_strong_password


# Database Connection Pool
DB_POOL_SIZE=5
DB_MAX_OVERFLOW=15

# Debug mode (true/false)
DB_ECHO=false

# Logging Level (DEBUG, INFO, WARNING, ERROR, CRITICAL)
LOG_LEVEL=INFO